# Classification Exercises - Data Acquisition
#### Corey Solitaire
#### 9/8/2020

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from math import sqrt
from scipy import stats

# 1 In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [4]:
iris = sns.load_dataset('iris')

###   - print the first 3 rows

In [6]:
print(iris.head(3))

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

###     - print the number of rows and columns (shape)

In [9]:
print(iris.shape)

(150, 5)

###    - print the column names

In [12]:
print(iris.columns)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

###    - print the data type of each column

In [22]:
print(iris.dtypes)

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

###     - print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [25]:
print(iris.describe())

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [33]:
print(iris.sepal_length.var(),
iris.sepal_width.var(),
iris.petal_length.var(),
iris.petal_width.var())

0.6856935123042505 0.1899794183445188 3.1162778523489942 0.5810062639821029

#### Petal length is much more variable then other measurments, I might reccomend scaling depending on the factors being examined

# 2. Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

In [39]:
customer = pd.read_excel('Spreadsheets_Exercises.xlsx')
customer.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,267.40,Yes

###      -assign the first 100 rows to a new dataframe, df_excel_sample

In [42]:
df_excel_sample = customer.head(100)
df_excel_sample.info

<bound method DataFrame.info of    customer_id  gender  is_senior_citizen partner dependents  phone_service  \
0   0002-ORFBO  Female                  0     Yes        Yes              1
1   0003-MKNFE    Male                  0      No         No              2
2   0004-TLHLJ    Male                  0      No         No              1
3   0011-IGKFF    Male                  1     Yes         No              1
4   0013-EXCHZ  Female                  1     Yes         No              1
..         ...     ...                ...     ...        ...            ...
95  0164-APGRB  Female                  0      No         No              2
96  0164-XAIRP  Female                  0      No         No              1
97  0168-XZKBB  Female                  0     Yes         No              2
98  0174-QRVVY    Male                  0     Yes        Yes              2
99  0177-PXBAT    Male                  1     Yes         No              2

    internet_service  contract_type               payment_type  \
0                  1              1               Mailed check
1                  1              0               Mailed check
2                  2              0           Electronic check
3                  2              0           Electronic check
4                  2              0               Mailed check
..               ...            ...                        ...
95                 2              2           Electronic check
96                 0              2  Bank transfer (automatic)
97                 2              0           Electronic check
98                 0              2    Credit card (automatic)
99                 2              0  Bank transfer (automatic)

    monthly_charges  total_charges churn
0             65.60         593.30    No
1             59.90         542.40    No
2             73.90         280.85   Yes
3             98.00        1237.85   Yes
4             83.90         267.40   Yes
..              ...            ...   ...
95           114.90        8496.70    No
96            19.55         470.20    No
97            86.85        1564.40    No
98            25.35        1847.55    No
99           109.90        3694.70    No

[100 rows x 12 columns]>

###      -print the number of rows of your original dataframe

In [46]:
print(customer.shape)

(7049, 12)

###      -print the first 5 column names

In [50]:
print("Select First 5 columns:")
print(customer[['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents']])

Select First 5 columns:
     customer_id  gender  is_senior_citizen partner dependents
0     0002-ORFBO  Female                  0     Yes        Yes
1     0003-MKNFE    Male                  0      No         No
2     0004-TLHLJ    Male                  0      No         No
3     0011-IGKFF    Male                  1     Yes         No
4     0013-EXCHZ  Female                  1     Yes         No
...          ...     ...                ...     ...        ...
7044  9987-LUTYD  Female                  0      No         No
7045  9992-RRAMN    Male                  0     Yes         No
7046  9992-UJOEL    Male                  0      No         No
7047  9993-LHIEB    Male                  0     Yes        Yes
7048  9995-HOTOH    Male                  0     Yes        Yes

[7049 rows x 5 columns]

###      -print the column names that have a data type of object

In [53]:
filteredColumns = customer.dtypes[customer.dtypes == np.object]
listOfColumnNames = list(filteredColumns.index)
print(listOfColumnNames)

['customer_id', 'gender', 'partner', 'dependents', 'payment_type', 'churn']

###     -compute the range for each of the numeric variables.

# 3. Read the data from this google sheet into a dataframe, df_google

###    -print the first 3 rows

###    -print the number of rows and columns

###    -print the column names

###     -print the data type of each column

###     -print the summary statistics for each of the numeric variables

###   -print the unique values for each of your categorical variables

# Make a new python module, acquire.py to hold the following data aquisition functions:

### 1. Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

### 2. Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

### 3. Once you've got your get_titanic_data and get_iris_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for a local filename like titanic.csv or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.