# Classification Exercises 
#### Corey Solitaire
#### 9/8/2020

In [ ]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from math import sqrt
from scipy import stats

# Data Acquisition

# 1 In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [ ]:
iris = sns.load_dataset('iris')

###   - print the first 3 rows

In [ ]:
print(iris.head(3))

###     - print the number of rows and columns (shape)

In [ ]:
print(iris.shape)

###    - print the column names

In [ ]:
print(iris.columns)

###    - print the data type of each column

In [ ]:
print(iris.dtypes)

In [ ]:
#more info is necessary
iris.info()

###     - print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [ ]:
print(iris.describe())

In [ ]:
print(iris.sepal_length.var(),
iris.sepal_width.var(),
iris.petal_length.var(),
iris.petal_width.var())

#### Petal length is much more variable then other measurments, I might reccomend scaling depending on the factors being examined

# 2. Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

In [ ]:
customer = pd.read_excel('Spreadsheets_Exercises.xlsx')
customer.head()

###      -assign the first 100 rows to a new dataframe, df_excel_sample

In [ ]:
df_excel_sample = customer.head(100)
df_excel_sample.info

###      -print the number of rows of your original dataframe

In [ ]:
print(customer.shape)

In [ ]:
#alternate option
customer.shape[0]

###      -print the first 5 column names

In [ ]:
print("Select First 5 columns:")
print(customer[['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents']])

In [ ]:
# alternate method

customer.columns[:5]

###      -print the column names that have a data type of object

In [ ]:
filteredColumns = customer.dtypes[customer.dtypes == np.object]
listOfColumnNames = list(filteredColumns.index)
print(listOfColumnNames)

###     -compute the range for each of the numeric variables.

In [ ]:
#Transcribes table
stats =customer._get_numeric_data().describe().T
stats

In [ ]:
stats['range'] = stats['max'] - stats['min']
stats[['mean', '50%', 'std', 'range']]

# 3. Read the data from this google sheet into a dataframe, df_google

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_googlesheet = pd.read_csv(csv_export_url)
df_googlesheet.head()

###    -print the first 3 rows

In [ ]:
print(df_googlesheet.head(3))

###    -print the number of rows and columns

In [ ]:
df_googlesheet.shape

###    -print the first five column names

In [ ]:
df_googlesheet.columns[:5]

In [ ]:
# alternate print to list for ease of access
df_googlesheet.columns.to_list()

###     -print the data type of each column

In [ ]:
df_googlesheet.dtypes

###     -print the summary statistics for each of the numeric variables

In [ ]:
df_googlesheet._get_numeric_data().describe()

###   -print the unique values for each of your categorical variables

In [ ]:
#df_googlesheet.select_dtypes(object)

df_ = df_googlesheet.select_dtypes(exclude=['int', 'float'])
for col in df_.columns:
    print(df_[col].unique()) # to print categories name only
    print(df_[col].value_counts())

In [ ]:
#alternate from faith
for col in df_googlesheet:
    if df_googlesheet[col].dtypes == 'object':
        print(f'{col} has {df_googlesheet[col].nunique()} unique values.')

# Make a new python module, acquire.py to hold the following data aquisition functions:

### 1. Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [ ]:
import env

def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

df = pd.read_sql('SELECT * FROM passengers', get_connection('titanic_db'))

df.head()

### 2. Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

In [ ]:
def get_iris_data():
    return pd.read_sql('SELECT * FROM measurements AS m JOIN species AS s on m.species_id = s.species_id', get_connection('iris_db'))

df = get_iris_data()
df.head()

### 3. Once you've got your get_titanic_data and get_iris_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for a local filename like titanic.csv or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

In [ ]:
#Titanic Dataset

# def get_titanic_data():
#     filename = "titanic.csv"

#     if os.path.isfile(filename):
#         return pd.read_csv(filename)
#     else:
#         # read the SQL query into a dataframe
#         df = pd.read_sql('SELECT * FROM passengers', get_connection('titanic_db'))

#         # Write that dataframe to disk for later. Called "caching" the data for later.
#         df.to_csv(filename, index = False)

#         # Return the dataframe to the calling code
#     return df

#import acquire
#acquire.get_titanic_data()

In [ ]:
#Iris Dataset

# def get_iris_data():
#     filename = "iris.csv"

#     if os.path.isfile(filename):
#        return pd.read_csv(filename)
#     else:
#         #read the SQL query into a dataframe
#         df = pd.read_sql('SELECT * FROM measurements AS m JOIN species AS s on m.species_id = s.species_id', get_connection('iris_db'))

#         #Write that dataframe to disk for later. Called "caching" the data for later.
#         df.to_csv(filename, index = False)

#         #Return the dataframe to the calling code
#     return df

#import acquire
#acquire.get_iris_data()

# Data Preparation

#### - Prepare Enviroment

In [19]:
import pandas as pd
import numpy as np
from acquire import *

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler



- Iris Data

    - Use the function defined in acquire.py to load the iris data.
    - Drop the species_id and measurement_id columns.
    - Rename the species_name column to just species.
    - Encode the species name using a sklearn label encoder. Research the inverse_transform method of the label encoder. How might this be useful?
    - Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [20]:

    
'''
This function reads in iris data from Codeup database if cached == False
or if cached == True reads in iris df from a csv file, returns df
'''

iris = get_iris_data(cached=True)
iris.head()

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2