In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import acquire
import prepare

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler

In [2]:
titanic = acquire.get_titanic_data(cached=True)

In [3]:
train, validate, test = prepare.prep_titanic(titanic)

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 497 entries, 583 to 553
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   survived                 497 non-null    int64
 1   pclass                   497 non-null    int64
 2   sex                      497 non-null    object
 3   age                      497 non-null    float64
 4   sibsp                    497 non-null    int64
 5   parch                    497 non-null    int64
 6   fare                     497 non-null    float64
 7   embark_town              497 non-null    object
 8   alone                    497 non-null    int64
 9   sex_male                 497 non-null    uint8
 10  embark_town_Queenstown   497 non-null    uint8
 11  embark_town_Southampton  497 non-null    uint8
dtypes: float64(2), int64(5), object(2), uint8(3)
memory usage: 40.3+ KB

In [7]:
validate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214 entries, 610 to 26
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   survived                 214 non-null    int64
 1   pclass                   214 non-null    int64
 2   sex                      214 non-null    object
 3   age                      214 non-null    float64
 4   sibsp                    214 non-null    int64
 5   parch                    214 non-null    int64
 6   fare                     214 non-null    float64
 7   embark_town              214 non-null    object
 8   alone                    214 non-null    int64
 9   sex_male                 214 non-null    uint8
 10  embark_town_Queenstown   214 non-null    uint8
 11  embark_town_Southampton  214 non-null    uint8
dtypes: float64(2), int64(5), object(2), uint8(3)
memory usage: 17.3+ KB

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178 entries, 561 to 809
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   survived                 178 non-null    int64
 1   pclass                   178 non-null    int64
 2   sex                      178 non-null    object
 3   age                      178 non-null    float64
 4   sibsp                    178 non-null    int64
 5   parch                    178 non-null    int64
 6   fare                     178 non-null    float64
 7   embark_town              178 non-null    object
 8   alone                    178 non-null    int64
 9   sex_male                 178 non-null    uint8
 10  embark_town_Queenstown   178 non-null    uint8
 11  embark_town_Southampton  178 non-null    uint8
dtypes: float64(2), int64(5), object(2), uint8(3)
memory usage: 14.4+ KB