In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import acquire
import prepare

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler

In [2]:
titanic = acquire.get_titanic_data(cached=True)

In [3]:
prepare.prep_titanic(titanic)

(MinMaxScaler(),
 OneHotEncoder(sparse=False),
      passenger_id  survived  pclass     sex       age  sibsp  parch      fare  \
 683           683         0       3    male  0.184561      5      2  0.091543
 421           421         0       3    male  0.279696      0      0  0.015094
 336           336         0       1    male  0.388421      1      0  0.129995
 681           681         1       1    male  0.361239      0      0  0.149765
 610           610         0       3  female  0.524327      1      5  0.061045
 ..            ...       ...     ...     ...       ...    ...    ...       ...
 360           360         0       3    male  0.537918      1      4  0.054457
 635           635         1       2  female  0.374830      0      0  0.025374
 245           245         0       1    male  0.592281      2      0  0.175668
 768           768         0       3    male  0.389113      1      0  0.047138
 399           399         1       2  female  0.374830      0      0  0.024691

     embarked   class  embark_town  alone    C    Q    S
 683        S   Third  Southampton      0  0.0  0.0  1.0
 421        Q   Third   Queenstown      1  0.0  1.0  0.0
 336        S   First  Southampton      0  0.0  0.0  1.0
 681        C   First    Cherbourg      1  1.0  0.0  0.0
 610        S   Third  Southampton      0  0.0  0.0  1.0
 ..       ...     ...          ...    ...  ...  ...  ...
 360        S   Third  Southampton      0  0.0  0.0  1.0
 635        S  Second  Southampton      1  0.0  0.0  1.0
 245        Q   First   Queenstown      0  0.0  1.0  0.0
 768        Q   Third   Queenstown      0  0.0  1.0  0.0
 399        S  Second  Southampton      1  0.0  0.0  1.0

 [668 rows x 15 columns],
      passenger_id  survived  pclass     sex       age  sibsp  parch      fare  \
 114           114         0       3  female  0.225333      0      0  0.028221
 75             75         0       3    male  0.334058      0      0  0.014932
 52             52         1       1  female  0.660234      1      0  0.149765
 192           192         1       3  female  0.252514      1      0  0.015330
 575           575         0       3    male  0.252514      0      0  0.028302
 ..            ...       ...     ...     ...       ...    ...    ...       ...
 699           699         0       3    male  0.565099      0      0  0.014932
 510           510         1       3    male  0.388421      0      0  0.015127
 885           885         0       3  female  0.524327      0      5  0.056848
 559           559         1       3  female  0.483555      1      0  0.033963
 229           229         0       3  female  0.389113      3      1  0.049708

     embarked  class  embark_town  alone    C    Q    S
 114        C  Third    Cherbourg      1  1.0  0.0  0.0
 75         S  Third  Southampton      1  0.0  0.0  1.0
 52         C  First    Cherbourg      0  1.0  0.0  0.0
 192        S  Third  Southampton      0  0.0  0.0  1.0
 575        S  Third  Southampton      1  0.0  0.0  1.0
 ..       ...    ...          ...    ...  ...  ...  ...
 699        S  Third  Southampton      1  0.0  0.0  1.0
 510        Q  Third   Queenstown      1  0.0  1.0  0.0
 885        Q  Third   Queenstown      0  0.0  1.0  0.0
 559        S  Third  Southampton      0  0.0  0.0  1.0
 229        S  Third  Southampton      0  0.0  0.0  1.0

 [223 rows x 15 columns])

In [5]:
iris = acquire.get_iris_data(cached=True)
prepare.prep_iris(iris)

(LabelEncoder(),
      species  sepal_length  sepal_width  petal_length  petal_width
 30         0           4.8          3.1           1.6          0.2
 36         0           5.5          3.5           1.3          0.2
 29         0           4.7          3.2           1.6          0.2
 55         1           5.7          2.8           4.5          1.3
 118        2           7.7          2.6           6.9          2.3
 ..       ...           ...          ...           ...          ...
 11         0           4.8          3.4           1.6          0.2
 0          0           5.1          3.5           1.4          0.2
 104        2           6.5          3.0           5.8          2.2
 7          0           5.0          3.4           1.5          0.2
 147        2           6.5          3.0           5.2          2.0

 [112 rows x 5 columns],
      species  sepal_length  sepal_width  petal_length  petal_width
 135        2           7.7          3.0           6.1          2.3
 34         0           4.9          3.1           1.5          0.2
 61         1           5.9          3.0           4.2          1.5
 117        2           7.7          3.8           6.7          2.2
 42         0           4.4          3.2           1.3          0.2
 38         0           4.4          3.0           1.3          0.2
 65         1           6.7          3.1           4.4          1.4
 125        2           7.2          3.2           6.0          1.8
 80         1           5.5          2.4           3.8          1.1
 19         0           5.1          3.8           1.5          0.3
 64         1           5.6          2.9           3.6          1.3
 33         0           5.5          4.2           1.4          0.2
 115        2           6.4          3.2           5.3          2.3
 146        2           6.3          2.5           5.0          1.9
 94         1           5.6          2.7           4.2          1.3
 116        2           6.5          3.0           5.5          1.8
 28         0           5.2          3.4           1.4          0.2
 32         0           5.2          4.1           1.5          0.1
 9          0           4.9          3.1           1.5          0.1
 17         0           5.1          3.5           1.4          0.3
 40         0           5.0          3.5           1.3          0.3
 22         0           4.6          3.6           1.0          0.2
 93         1           5.0          2.3           3.3          1.0
 144        2           6.7          3.3           5.7          2.5
 2          0           4.7          3.2           1.3          0.2
 77         1           6.7          3.0           5.0          1.7
 122        2           7.7          2.8           6.7          2.0
 138        2           6.0          3.0           4.8          1.8
 110        2           6.5          3.2           5.1          2.0
 56         1           6.3          3.3           4.7          1.6
 66         1           5.6          3.0           4.5          1.5
 101        2           5.8          2.7           5.1          1.9
 68         1           6.2          2.2           4.5          1.5
 76         1           6.8          2.8           4.8          1.4
 105        2           7.6          3.0           6.6          2.1
 86         1           6.7          3.1           4.7          1.5
 127        2           6.1          3.0           4.9          1.8
 92         1           5.8          2.6           4.0          1.2)